html, body{
    margin: 0;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10pt;
    background: #f2f4f6;
}
header{
    height: 50px;
    line-height: 50px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 14pt;
}
footer{
    height: 30px;
    line-height: 30px;
    background: black;
    color: white;
    font-size: 8pt;
}
section{
    height: calc(100% - 80px);
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 10px;
}
section .card{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background:white;
    overflow: hidden;
    box-shadow: 0px 10px 20px lightgray;
    transition: transform 0.3s ease;
    cursor: pointer;
}
section .card img{
    width: 100%;
    height: 200px;
    display: block;
}
section .card label{
    text-align: center;
    display: block;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 12pt;
}
section .card:hover{
    transform: translateY(-8px);
}